<ion-header>
  <ion-toolbar class="toolbar-black">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']" color="light" style="font-size: 28px;">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Motivational Quotes</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" [routerLink]="['/login']">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="quote-container">
  <ion-card class="quote-card">
    <ion-card-header>
      <ion-card-title>Monday</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>"The best way to predict the future is to create it."</p>
      <p>- Abraham Lincoln</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="quote-card">
    <ion-card-header>
      <ion-card-title>Tuesday</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>"Success is not final, failure is not fatal: It is the courage to continue that counts."</p>
      <p>- Winston Churchill</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="quote-card">
    <ion-card-header>
      <ion-card-title>Wednesday</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>"Don't watch the clock; do what it does. Keep going."</p>
      <p>- Sam Levenson</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="quote-card">
    <ion-card-header>
      <ion-card-title>Thursday</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>"Push yourself, because no one else is going to do it for you."</p>
      <p>- Unknown</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="quote-card">
    <ion-card-header>
      <ion-card-title>Friday</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>"Great things never come from comfort zones."</p>
      <p>- Unknown</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="quote-card">
    <ion-card-header>
      <ion-card-title>Saturday</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>"Dream it. Wish it. Do it."</p>
      <p>- Unknown</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="quote-card">
    <ion-card-header>
      <ion-card-title>Sunday</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>"Don't stop when you're tired. Stop when you're done."</p>
      <p>- Marilyn Monroe</p>
    </ion-card-content>
  </ion-card>
</ion-content>
