.toolbar-black {
  --background: #000;
  --color: #fff;
  border-bottom: 1px solid #222;
}

ion-card {
  margin: 16px auto; /* Centers the card horizontally */
  background-color: #000;
  color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 70%; /* adjusting width as needed */
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.quote-card ion-card-header {
  background-color: #000;
  color: #fff;
  border-radius: 8px 8px 0 0;
}

.quote-card ion-card-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--ion-color-primary);
  text-align: center;
}

.quote-card ion-card-content {
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.slogan-text {
  font-size: 50px;

}
